[user]
	name = Di Liu
	email = liud12631@gmail.com
	signingkey = /home/di/.ssh/id_ed25519.pub
[alias]
	uncommit = reset HEAD^
	dft = difftool
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[rebase]
	autoStash = true
[rerere]
	enabled = true
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore
[color]
	ui = auto
[diff]
	colorMoved = zebra
	algorithm = histogram
	mnemonicPrefix = true
	renames = true
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[merge]
	conflictstyle = zdiff3
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
	sort = version:refname
[branch]
	sort = -committerdate
[help]
	autocorrect = prompt
[rerere]
	autoupdate = true
[rebase]
	autoSquash = true
	updateRefs = true
