.DS_Store
.idea
*.log
tmp/

.xmonad/*
!.xmonad/xmonad.hs

.config/emacs/*
!.config/emacs/init.el

packer_compiled.lua

fish_variables
vifminfo.json

.logseq/*
!.logseq/config
!.logseq/preferences.json
