layout {
    tab name="1.Nvim" focus=true hide_floating_panes=true {
        pane cwd="/home/leo/Projects/console-gui-software-worktree/console-gui-software"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="2.Claude" hide_floating_panes=true {
        pane cwd="/home/leo/Projects/console-gui-software-worktree/console-gui-software"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="3.root" hide_floating_panes=true {
        pane cwd="/home/leo/Projects/console-gui-software-worktree/console-gui-software"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="4.au" hide_floating_panes=true {
        pane cwd="/home/leo/Projects/console-gui-software-worktree/console-gui-software/extern/console-acquisition-unit-processor"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="5.ssh" hide_floating_panes=true {
        pane cwd="/home/leo/Projects/console-gui-software-worktree/console-gui-software"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="6.config" hide_floating_panes=true {
        pane cwd="~/.config/neonav"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="7.copy" hide_floating_panes=true {
        pane cwd="/home/leo/Projects/console-gui-software-worktree/copy"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="8.root" hide_floating_panes=true {
        pane cwd="/home/leo/Projects/console-gui-software-worktree/console-gui-software"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="9.prompts" hide_floating_panes=true {
        pane cwd="/home/leo/Documents/prompts"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    new_tab_template {
        pane cwd="/home/leo/Projects/console-gui-software-worktree/console-gui-software"
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
